<h1 class= "header">Play your frame</h1>
<style>
.right {
    position: absolute;
    left: 10;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
</style>
<%= render 'form', frame: @frame  %>
<div class="right">
<%= button_to  'Back to Player Dashboard', game_frames_path(@game_id), :method => "get" %>
</div>